@import 'bootstrap.min.css';

* {
    /* overflow:hidden; */
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box !important; 
    color:white;
    margin:0;
    padding:0;
}

html {
    height: 100% !important;
 
}

body {
    min-height:100% !important;

    color:white;
    background-image:  url(/images/truck.jpg);  
    background-size: cover  ;
    background-repeat: no-repeat;
}

#body-content {
    height:100%;
}

.navbar {
    background: rgb(50,54,48);
    overflow: hidden !important; 
    text-shadow: 2px 2px black !important;
}

.navbar-brand {
    color: white !important; 
    font-size: clamp(2em, 2em, 2.5vw) !important;

    
}

.nav-link {
    display:inline;
    font-size: clamp(1.5em, 1.5em, 1.7vw) !important;
}

.hero-text {
    color: white;
    font-size: min(6vw, 50px) !important;
    font-weight: bolder;
    text-align: center;
    /* border: 3px bold rgb(55,66,78); */
    
    text-shadow: 2px 2px black;
    background: radial-gradient(circle, rgba(50,54,48,1) 0%, rgba(66,83,107,1) 35%, rgba(98,117,129,0) 100%);
    /* padding-left: 0 !important; */
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 5px rgb(55,66,78) !important; 
    border-radius: 25px;
}

#testimonials-text-1 {
    color: rgb(193, 209, 218);
    position:relative;
}

.phone {
    background: rgb(66,83,107) !important;
    box-shadow: 10px 10px 5px rgb(55,66,78) !important;
    text-shadow: 2px 2px black;
    font-size: clamp(1.3em, 2.5vw, 3vw) !important;
    border-radius: 15px;

    /* background-image: url(/images/telephone.svg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top right 50%;
    color: black; */
}



.testimonials {
    background: rgb(98,117,129) !important;
    box-shadow: 10px 10px 5px rgb(66,83,107) !important;
    font-size: clamp(2em, 5vw, 3em);
    text-shadow: 2px 2px black;
    border-radius: 15px;

}   


.testimonials h1 {
    font-size: clamp(1em, 2vw, 3vw) !important;
    border-bottom: dotted black .5px !important;
}

.testimonials p {
    
    font-size: 40% !important;
}

#text {
    color:white;
    font-size: 1.4rem;
}

#navbarSupportedContent {
    font-size: 3vh;
}

/* about page */
.about-div {
    position: absolute !important;
    height:fit-content;
    width: 75% !important;
    top: 20% !important;
    bottom: 10% !important;
    left: 10% !important;
    

    text-shadow: 2px 2px black;
    background: radial-gradient(circle, rgba(50,54,48,1) 0%, rgba(66,83,107,1) 35%, rgba(98,117,129,0) 100%);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 5px rgb(55,66,78) !important; 
    border-radius: 25px;
}

.about-text {
    color:white;
    z-index: -1 !important;
    /* font-size: min(2vw, 75px); */
    font-size: clamp(15px, 1.5vw, 20px) !important;
    
}

.about-img {
    height: 25vw !important;
    padding-right: 5% !important;
}



/* rates page */

#rate-h2 {
    background: rgb(98,117,129) !important;
    box-shadow: 10px 10px 5px rgb(66,83,107) !important;
    text-shadow: 2px 2px black;
    border-radius: 15px;
}

#rate-container {
    
    height:auto;
    align-items: center;
    font-size: 1.2rem !important;

    background: rgb(98,117,129) !important;
    box-shadow: 10px 10px 5px rgb(66,83,107) !important;
    text-shadow: 2px 2px black;
    border-radius: 15px;
    
    
}

#rate-text {
    width: 95%;
    margin:0 auto;
    padding: 1vw;
    margin-top: 1%;
    font-size: 1.2rem !important;
}

table {
    background-color: grey;
    width:85%;     
    margin: 0 auto;
    color:black !important;
}

table, th, td {
    border: 1px solid !important;
}

#rate-container {
    font-size: 3vw;
    
}

.row {
    gap: 0 !important;
}

@media only screen and (min-width: 767px) {
    
    * {
        overflow:hidden;
    }

    .grid {
        display:flex;
        flex-direction: column;
        position:static;
        overflow: hidden;
    }

    /* .grid-text {
        max-height: max-content !important;
    } */

    /* p.grid-text {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(1px);
        position:relative;
    
        
        left: 50%;
        transform: translateX(-50%);
        
        vertical-align: baseline;
    } */
        
    #box-1 {
        backdrop-filter: blur(5px);
        position: relative !important;
        /* height: 30%;
        border-radius: 5%; */
    }


    #box-3 {
        margin-top: 0;
        padding-top: 0;
       
    }

}

@media only screen and (max-width: 450px) {

    #sm-screen-center {
        text-align: center !important;
        justify-content: center !important;
    
    }

    #box-2 {
        display:none;
    }

}


@media only screen and (max-width: 767px) {

    #box-2 {
        display:none;
    }

}

