* {
    margin: 0;  
    padding: 0;
    /* background-color: gray; */
    font-family:'Times New Roman', Times, serif;
}

nav {
    background-color: gray;
}

a.navbar-brand {
    color:rgb(92, 160, 233) !important;
}

.navbar-brand {
    color:rgb(92, 160, 233) !important;
    font-size: 2rem !important;
    text-shadow: 0 2 2px black;
    background-color: white;
}

#text {
    color:white;
}

#navbarSupportedContent {
    font-size: 3vh;
}

body {
    min-height: 100vh;

    background-color: white;
    background-image: radial-gradient(#444cf7 0.5px, white 0.5px);
    background-size: 10px 10px;
    overflow: hidden;
}

#div1 {
    background-color:rgb(129, 180, 235);
    height:86vh;

    
    
}

div > h2 {
    background-color:rgb(0,0,0,0);
    
}

#div-row {
    max-height: 75% !important;
    overflow: hidden;
    font-size: 2.3vh;
}

p {
    color:black;
    background-color: white;
}

/* rates */

#rate-container {
    height:50vh;
    align-items: center;
    font-size: 2.3vh;
}

table {
    background-color: white;
    width:100%;     
    margin: 0 auto;
}

table, th, td {
    border: 1px solid !important;
}

@media only screen and (max-width: 600px) {
    
    h2 {
        display: none;
    }

    #div1 {
        background: url('images/truck.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;

        display: flex;
        justify-content: center;

    }

    #div-row {
        /* position: relative; */
        text-align: center;
        width: 80%;

        align-items: center;
    
    }

    p {
        display: inline-block;
        background-color: rgb(255,255,255,.8);
    }


    img {
        display:none;
    }

    /* rates */

    #rate-container {
        font-size: 3vw;
    }
}