* {
    margin: 0;  
    padding: 0;
    /* background-color: gray; */
    font-family:'Times New Roman', Times, serif;
}

.navbar-brand {
    color: white !important; 
    font-size: 2rem !important;
    background-color: transparent;
				
}

#text {
    color:white;
}

#navbarSupportedContent {
    font-size: 3vh;
}

body {
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    /* overflow: hidden !important; */
}

#body-content {
    height: 50%;
    width: 75%;
    
    display: grid;
    align-items: center;
    justify-content: center;

    /* overflow:hidden !important; */
}


.drop {

	position:fixed;
    background-attachment: fixed;
    z-index: -1;
	padding: 0;
	background: rgb(63,55,201);
    background: linear-gradient(175deg, rgba(63,55,201,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	right: 80%;
	left:0px;
	top: 20%;
	bottom: 40%;
	margin: 0 auto;
	width: 15vh;
	height: 15vh;		
	border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
	clear: left;
}

.drop2 {

	position:fixed;
    background-attachment: fixed;
    z-index: -1;
	padding: 0;
	background: rgb(63,55,201);
    background: linear-gradient(175deg, rgba(63,55,201,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	right: 0;
	left:80%;
	top: 40%;
	bottom: 20%;
	margin: 0 auto;
	width: 15vh;
	height: 15vh;		
	border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
	clear: left;
}

.drop3 {

	position:fixed;
    background-attachment: fixed;
    z-index: -1;
	padding: 0;
	background: rgb(63,55,201);
    background: linear-gradient(175deg, rgba(63,55,201,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	right: 80%;
	left: 0;
	top: 70%;
	bottom: 20%;
	margin: 0 auto;
	width: 15vh;
	height: 15vh;		
	border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
	clear: left;
}

div > h2 {
    background-color:rgb(0,0,0,0);
    
}


p {
    color:black;
    background-color: white;
    height:100%;

}

#index-div {
    
    height: 10em;
    max-width: 50vw;
   


}



.row {
    height:50%;
    /* overflow: hidden !important; */
    display:flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 25%;

    

}

/* @media only screen and (max-width: 925px) {
    
    h2 {
        display: none;
    }

    #div1 {
        background: url('images/truck.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;

        display: flex;
        justify-content: center;

    }

    #div-row {
        text-align: center;
        width: 80%;

        align-items: center;
    
    }

    p {
        display: inline-block;
        background-color: rgb(255,255,255,.8);
    }


    img {
        display:none;
    }
} */

/* rates */

#rate-container {
    height:50vh;
    align-items: center;
    font-size: 1.2rem !important;
}

#rate-text {
    width: 85%;
    margin:0 auto;
    padding: 1vw;
}

table {
    background-color: white;
    width:85%;     
    margin: 0 auto;
}

table, th, td {
    border: 1px solid !important;
}

#rate-container {
    font-size: 3vw;
}
