* {
    margin: 0;  
    padding: 0;
    overflow:hidden;
    /* background-color: gray; */
    font-family:'Times New Roman', Times, serif;
}

.navbar-brand {
    color: white !important; 
    font-size: 2rem !important;
    background-color: transparent;
				
}



#text {
    color:white;
}

#navbarSupportedContent {
    font-size: 3vh;
}

body {
    /* height: 100vh; */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    /* overflow: hidden !important; */
}



.grid {
    position: absolute;
    inset: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 1rem;
    height:60%;
    width: 60%;

    /* outline: green 1px solid; */
}


.box > img {
    position: relative;
    height:100%;
    display: flex;
    /* max-height:max-content; */
    
    padding: 5%;

    border-radius: 25px;
    
}

#box-2 {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.box > p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: transparent;

    
    
}

/* .box {
    outline: red 1px solid;
} */

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-text {
    color:white;
    font-size: 120%;
    

}


.drop {

	position:fixed;
    background-attachment: fixed;
    z-index: -1;
	padding: 0;
	background: rgb(63,55,201);
    background: linear-gradient(175deg, rgba(63,55,201,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	right: 80%;
	left:0px;
	top: 20%;
	bottom: 40%;
	margin: 0 auto;
	width: 15vh;
	height: 15vh;		
	border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
	clear: left;
}

.drop2 {

	position:fixed;
    background-attachment: fixed;
    z-index: -1;
	padding: 0;
	background: rgb(63,55,201);
    background: linear-gradient(175deg, rgba(63,55,201,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	right: 0;
	left:80%;
	top: 40%;
	bottom: 20%;
	margin: 0 auto;
	width: 15vh;
	height: 15vh;		
	border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
	clear: left;
}

.drop3 {

	position:fixed;
    background-attachment: fixed;
    z-index: -1;
	padding: 0;
	background: rgb(63,55,201);
    background: linear-gradient(175deg, rgba(63,55,201,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	right: 80%;
	left: 0;
	top: 70%;
	bottom: 20%;
	margin: 0 auto;
	width: 15vh;
	height: 15vh;		
	border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
	clear: left;
}

div > h2 {
    background-color:rgb(0,0,0,0);
    
}


p {
    color:black;
    background-color: white;
    height:100%;

}







@media only screen and (max-width: 800px) {
    
    * {
        overflow:hidden;
    }

    .grid {
        display:block;
        height:100%;
    }

    #box-1 > p {
        

        height: 50%;
        
        

        margin: 5% 5% ;
        backdrop-filter: blur(1px);

        padding-top:0;
        
        outline: red solid 2px;
        

        
    }
        
    #box-1 {
        background-image: url(images/truck.jpg);
        background-repeat: no-repeat;
        height: 50%;
        margin-top: 20%;
        border-radius: 5%;;
    }

    #box-2 {
        display:none;
    }

    

    #div1 { 
        background: url('images/truck.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;

        display: flex;
        justify-content: center;

    }

    #div-row {
        text-align: center;
        width: 80%;

        align-items: center;
    
    }

    p {
        display: inline-block;
        background-color: rgb(255,255,255,.8);
    }


    img {
        display:none;
    } */
}

/* rates page */

#rate-container {
    height:50vh;
    align-items: center;
    font-size: 1.2rem !important;
}

#rate-text {
    width: 85%;
    margin:0 auto;
    padding: 1vw;
}

table {
    background-color: white;
    width:85%;     
    margin: 0 auto;
}

table, th, td {
    border: 1px solid !important;
}

#rate-container {
    font-size: 3vw;
}
